[[plugins]]
  package = "@netlify/plugin-nextjs"

[build]
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

# 解决根目录 404：自动把访问 / 的用户引导到 /zh
[[redirects]]
  from = "/"
  to = "/zh"
  status = 302
  force = false